html{   
    background-image: url('tapeet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 20vh 0 30vh;
}
.tim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1
}
.enrico {
    flex: 1
}

h1{
    font-family:monospace
}